{% extends "base.njk" %}

{% block content %}
<h1>{{ title }}</h1>
  <p><a href="{{ page.url }}../{{ page.inputPath | filename }}" download><i class="bi bi-download"></i>Rocq source</a></p>
{{ content | safe }}
{% endblock %}
